body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url(bgPic.jpg);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

form {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type='submit']:hover {
  background-color: #3e8e41;
}
.result {
  text-align: center;
}
.navbar {
  background-color: #313f4e;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #313f4e;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
}
.dropdown-menu li {
  margin-right: 15px;
  cursor: default;
  text-decoration: none;
}
.icon {
  margin-left: 78%;
  background-image: url(iconPic.jpeg);
  width: 35px;
  height: 25px;
  background-size: contain;
}
/* about */

.container {
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.col {
  flex: 1;
  padding: 20px;
}

.col img {
  width: 100%; /* Change the width value as per your requirement */
  height: auto;
}

.col h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.col p {
  font-size: 16px;
  line-height: 1.5;
}
/* support */
#support {
  background-color: #c80c5d;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 5% auto; /* Center the support section */
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 28px; /* Increase the size of social links */
}

.social-links li {
  margin-right: 10px;
}

.social-links li a i {
  color: #555555;
}
/* working */
.container-work {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
